%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.

{deps, [
    {'astranaut', {git, "https://github.com/slepher/astranaut.git", {tag, "0.13.8"}}},
    {'erlando', {git, "https://github.com/slepher/erlando.git", {tag, "2.11.10"}}},
    {'lenses', {git, "https://github.com/slepher/lenses.git", {tag, "0.7.9"}}}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    %% Store PLT locally inside the project in .rebar (Default)
    {plt_location, local},
    {warnings, [unmatched_returns, error_handling, unknown]}
]}.

{profiles, [
    {test, [
        {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
    ]}
]}.

{project_plugins, [
    {rebar3_docker_ci, {git, "https://github.com/slepher/rebar3_docker_ci.git", {tag, "0.5.2"}}},
    {rebar3_reltree, {git, "https://github.com/slepher/rebar3_reltree.git", {tag, "0.2.1"}}}
]}.

{docker_ci, [
    {erlang_versions, ["21", "22", "23", "24", "25", "26", "27", "28", "29"]}
]}.
