%% -*- erlang -*-
{erl_opts, [debug_info
           %,{parse_transform, disable_tco}
           ]}.
{cover_enabled, true}.
{deps, [
       {'erlando', ".*", {git, "https://github.com/slepher/erlando.git", {branch, "master"}}},
       {'lenses', ".*", {git, "https://github.com/slepher/lenses.git", {branch, "master"}}}
       ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [unmatched_returns, error_handling, race_conditions, unknown]}
 ]}.
