%% -*- erlang -*-
{erl_opts, [debug_info]}.
{cover_enabled, true}.

{provider_hooks, [{post, [{compile, {erlando, compile}}]}]}.

{deps, [
        {'erlando', {git, "https://github.com/slepher/erlando.git", {tag,    "2.3.0" }}},
        {'lenses',  {git, "https://github.com/slepher/lenses.git",  {tag,    "0.3.3" }}}
       ]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.

{dialyzer,
 [
  %% Store PLT locally inside the project in .rebar (Default)
  {plt_location, local},
  {warnings, [unmatched_returns, error_handling, race_conditions, unknown]}
 ]}.

{profiles, [
  {test, [
          {erl_opts, [{parse_transform, astranaut_disable_tco}, nowarn_export_all]}
  ]}
]}.
